*{
    margin: 0;
    padding: 0;
}
ul li,
ol li{
    list-style: none;
}
a,
a:hover,
a.active{
    text-decoration: none;
}
.w100{
    width: 100%;
}
.w1200{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
input,button,textarea{
    outline: none;
    border: none;
    list-style-type: none;
    background: none;

}
textarea{
    overflow: hidden;
    resize: none;
}
img{
    width: 100%;
    height: 100%;
}
/*顶部*/
.top-wrapper{
    background: #fafafa;
}
.top{
    padding-top: 10px;
    padding-bottom: 20px;
}
.logo{
    width: 86px;
    height: 90px;
}
.top-tel-nav{
    margin-left: 85px;
}
.top-tel{
    text-align: right;
    font-size: 28px;
    font-style: italic;
    color: #eb6506;
    letter-spacing: 3px;
}
.nav{
    margin-top: 26px;
}
.nav li{
    float: left;
    padding-left: 85px;
}
.nav li:last-child{
    padding-right: 8px;
}
.nav li a{
    padding-bottom: 5px;
    color: #333333;
}
.nav li.active a,
.nav li:hover a{
    border-bottom: 1px solid #74cbf9;
}
/*底部*/
.footer-wrapper{
    background: #f1f6fb;
    padding-top: 66px;
    padding-bottom: 60px;
}
.footer-map ul{
    float: left;
    padding-right: 72px;
}
.footer-map ul a{
    color: #333333;
}
.footer-map ul li:first-child{
    font-size: 18px;
    margin-bottom: 38px;
}
.footer-map ul li{
    font-size: 14px;
    margin-bottom: 28px;
}
.footer-map ul li:last-child{
    margin-bottom: 0;
}
.foote-link-list li{
    margin-bottom: 24px;
}
.foote-link-list li:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.footer-link-icon{
    float: left;
    width: 40px;
    height: 40px;
    background: #00b7ee;
    border-radius: 50%;
}
.footer-link-text{
    margin-left: 20px;
    float: left;
    font-size: 14px;
    line-height: 40px;
}
.footer-info-wrapper{
    background: #595959;
    padding-top: 40px;
    padding-bottom: 35px;
}
.footer-info p{
    display: inline-block;
    color: #FFFFFF;
}
/*首页*/
.banner-wrapper{
    position: relative;
}
.banner-wrapper .bx-wrapper{
    border: none;
    box-shadow: none;
}
.banner-pic{
    width: 100%;
}
.banner-pic li{
    /*display: none;*/
    width: 100%;
}
.banner-pic li:first-child{
    /*display: block;*/
}
.banner-btn{
    position: absolute;
    bottom: 42px;
    z-index: 1;
    left: 50%;
}
.banner-btn li{
    float: left;
    width: 40px;
    height: 4px;
    background: #FFFFFF;
    margin: 0 5px;
}
.banner-btn li.active{
    background: #00b7ee;
}

.banner-wrapper .bx-wrapper .bx-prev,
.banner-wrapper .bx-wrapper .bx-next{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    z-index: 2;
    background: #5f89a8;
    top: 50%;
    text-indent: 0px;
}
.banner-wrapper .bx-wrapper .bx-prev{
    left: 0;
}
.banner-wrapper .bx-wrapper .bx-next{
    right: 0;
}
.banner-wrapper .bx-pager{
    left: 50%;
    bottom: 40px;
    margin-left: -7%;
}
.banner-wrapper .bx-pager .bx-pager-item{
    float: left;
    width: 40px;
    height: 4px;
    background: #FFFFFF;
    margin: 0 5px;
}
.banner-wrapper .bx-pager-item .bx-pager-link{
    display: block;
    float: left;
    width: 40px;
    height: 4px;
    background: #FFFFFF;
    text-indent: -9999px;
}
.banner-wrapper .bx-pager-item .bx-pager-link.active{
    background: #00b7ee;
    color: #ffffff;
}


/*.banner-left,*/
/*.banner-right{*/
    /*position: absolute;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*text-align: center;*/
    /*line-height: 40px;*/
    /*font-size: 20px;*/
    /*color: #FFFFFF;*/
    /*z-index: 5;*/
    /*background: #5f89a8;*/
    /*top: 50%;*/
/*}*/
.banner-left{
    left: 0;
}
.banner-right{
    right: 0;
}
.Iproduct{
    margin-top: 60px;
}
.Index-title{
    width: 100%;
    text-align: center;
}
.Index-title .en{
    width: 270px;
    margin: 0 auto;
    font-size: 36px;
    color: #00b7ee;
    background: url("../img/title-line.png")no-repeat center;
}
.Index-title .ch{
    font-size: 24px;
    color: #666666;
}
.Iproduct-btn{
    margin-top: 60px;
}
.Iproduct-btn ul{
    margin-left: 180px;
}
.Iproduct-btn ul li{
    float: left;
    width: 120px;
    height: 30px;
    border: 1px solid #dcdcdc;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
}
.Iproduct-btn ul li:hover,
.Iproduct-btn ul li.active{
    width: 122px;
    height: 32px;
    border: none;
    background: #00b7ee;
}
.Iproduct-btn ul li:hover a,
.Iproduct-btn ul li.active a{
    color: #FFFFFF;
}
.Iproduct-btn ul li a{
    color: #999999;
    font-size: 14px;
}
.index-more a{
    display: inline-block;
    width: 66px;
    height: 26px;
    border: 1px solid #44baf8;
    text-align: center;
    line-height: 26px;
    color: #999999;
    border-radius: 5px;
}
.more-arrow{
    display:inline-block;
    width: 20px;
    height: 26px;
    font-size: 20px;
    color: #00b7ee;
}
.Iproduct-list{
    width: 100%;
    margin-top: 80px;
}
.Iproduct-list ul{
    width: 100%;
}
.Iproduct-list ul li{
    float: left;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 30px;
    text-align: center;
}
.Iproduct-list ul li:nth-child(4n){
    margin-right: 0;
}
.Iproduct-pic{
    position: relative;
    width: 100%;
    height: 206px;
}
.Iproduct-list ul li h5{
    margin-top: 30px;
    color: #666666;
    font-size: 18px;
    font-weight: 500;
}
.Iproduct-introduce{
    margin-top: 14px;
    font-size: 14px;
    color: #999999;
    text-overflow: ellipsis;
    overflow: hidden;
}
.Iproduct-mask{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11,199,226,.3);
}
.Iproduct-mask img{
    display: block;
    margin: 75px auto;
    width: 55px;
    height: 55px;
}
.Iproduct-list ul li:hover .Iproduct-mask{
    display: block;
}
.Iproduct-list ul li:hover h5,
.Iproduct-list ul li:hover .Iproduct-introduce{
    color: #00b7ee;
}
/*首页关于我们*/
.Iabout-wrapper{
    margin-top: 140px;
    background: #1aa48a;
    height: 524px;
}
.Iabout-pic{
    position: relative;
    width: 460px;
    height: 440px;
    margin-left: 70px;
    margin-top: -30px;
}
.Iabout-list{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.Iabout-list li{
    display: none;
    width: 100%;
    height: 100%;
}
.Iabout-list li:first-child{
    display: block;
}
.Iabout-control{
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 84px;
    height: 42px;
    z-index: 5;
}
.Iabout-control span{
    float: left;
    background: #FFFFFF;
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 42px;
    color: #00b7ee;
    font-size: 20px;
}
.Iabout-control span:hover{
    background: #00b7ee;
    color: #FFFFFF;
}
.Iabout-line1{
    position: absolute;
    width: 10px;
    height: 72px;
    background: #00b7ee;
    top: -60px;
    left: 16px;
    z-index: 1;
}
.Iabout-line2{
    position: absolute;
    width: 80px;
    height: 10px;
    background: #00b7ee;
    top: 50%;
    left: -70px;
}
.Iabout-text{
    width: 520px;
    margin-left: 110px;
    margin-top: 95px;
    color: #FFFFFF;
}
.Iabout-text h3{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.Iabout-text p{
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    line-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
    overflow: hidden;
}
.Iabout-more{
    display: block;
    width: 155px;
    height: 44px;
    border: 1px solid #FFFFFF;
    margin-top: 50px;
    text-align: center;
    line-height: 44px;
    color: #FFFFFF;
}
.Ibg{
    background: #fafafa;
    overflow: hidden;
}

/*首页新闻*/
.Inew-wrappre{
    margin-top: 95px;
}
.Inew{
    margin-top: 80px;
}
.Inew-company{
    width: 815px;
}
.Inew-company-btn{
    width: 100%;
    border-bottom: 1px solid #00b7ee;
    padding-bottom: 24px;
}
.Inew-company-btn ul{
    margin-left: 28px;
}
.Inew-company-btn ul li{
    float: left;
    margin-right: 20px;
    width: 116px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #dcdcdc;
}
.Inew-company-btn ul li a{
    color: #999999;
}
.Inew-company-btn ul li.active{
    background: #00b7ee;
    border: none;
    padding: 1px;
}
.Inew-company-btn ul li.active a{
    color: #FFFFFF;
}
.Inew-company-show,
.Inew-company-show ul {
    width: 100%;
}
.Inew-company-show ul li{
    float: left;
    width: 48%;
    margin-top: 40px;
}
.Inew-company-show ul li:nth-child(2n-1){
    margin-right: 4%;
}
.Inew-company-show ul li:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.Inew-item-circle{
    width: 10%;
    padding: 2%;
    box-sizing: border-box;
}
.Inew-item-circle span{
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid #666;
    border-radius: 50%;
}
.Inew-item-content{
    width: 90%;
}
.Inew-item-content h2{
    display: inline;
    font-size: 18px;
    color: #666;
}
.Inew-item-content time{
    color: #666666;
    display: inline;
    float: right;
}
.Inew-item-content p{
    margin-top: 20px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clapm:2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
}
.Inew-company-show ul li:hover .Inew-item-circle span,
.Inew-company-show ul li:hover .Inew-item-content time,
.Inew-company-show ul li:hover .Inew-item-content h2{
    border-color: #00b7ee;
    color: #00b7ee;
}
.Inew-honor{
    width: 360px;
}
.Inew-honor-title{
    width: 100%;
    padding-bottom: 28px;
    border-bottom: 1px solid #00b7ee;
}
.Inew-honor-title h2{
    color: #00b7ee;
    font-size: 18px;
}
.Inew-honor-list{
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}
.Inew-honor-list ul{
    width: 205px;
    height: 290px;
    margin: 0 auto;
}
.Inew-honor-list ul li{
    display: none;
    width: 100%;
    height: 100%;
}
.Inew-honor-list ul li:first-child{
    display: block;
}
.Inew-honor-left,
.Inew-honor-right{
    position: absolute;
    background: #00b7ee;
    width: 56px;
    height: 56px;
    color: #FFFFFF;
    line-height: 56px;
    top: 50%;
    margin-top: -28px;
    z-index: 1;
    border-radius: 50%;
    font-size: 20px;
}
.Inew-honor-left{
    left: -28px;
    text-align: right;
    padding-right: 6px;
    box-sizing: border-box;
}
.Inew-honor-right{
    right: -28px;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}
/*首页售后服务*/
.Iservice-wrapper{
    margin-top: 60px;
}
.Iservice{
    margin-top: 75px;
}
.Iservice-form{
    width: 470px;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 20px;
    padding-bottom: 55px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: -3px 0 5px #f3f4f7,3px 4px 5px #f3f4f7;
}
.Iservice-form h3,
.Iservice-form .en{
    width: 100%;
    color: #00b7ee;
    font-size: 24px;
    text-align: center;
}
.Iservice-form .en{
   margin-top: 22px;
}
.Iservice-input{
    width: 100%;
    margin-top: 25px;
}
.Iservice-input ul{
    width: 100%;
}
.Iservice-input ul li{
    width: 100%;
    margin-bottom: 7px;
}
.Iservice-input ul li:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.Iservice-input-icon{
    float: left;
    width: 40px;
    height: 40px;
    background: #00b7ee;
    border-radius: 3px;
}
.Iservice-input-input{
    float: left;
    width: 310px;
    height: 100%;
    line-height: 40px;
    padding-left: 16px;
    box-sizing: border-box;
    background: #f0f3f9;
}
.Iservice-submit{
    margin: 0 auto;
    width: 90px;
    height: 40px;
    background: #00b7ee;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}
.Iservice-submit button{
    color: #FFFFFF;
}
.Iservice-service{
    width: 712px;
    padding: 30px 40px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
}
.Iservice-service-title{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px dashed #333333;
}
.Iservice-service-title h3{
    display: inline;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    letter-spacing: 4px;
}
.Ishfw-more{
    display: inline-block;
    width: 66px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #00b7ee;
    float: right;
    color: #00b7ee;
    letter-spacing: 2px;
    border-radius: 5px;
}
.Iservice-list{
    width: 100%;
}
.Iservice-list li{
    margin-top: 20px;
}
.Iservice-item-title{
    width: 100%;
}
.Iservice-disc{
    width: 5%;
    float: left;
    padding: 2%;
    box-sizing: border-box;
}
.Iservice-disc span{
    display: block;
    width: 9px;
    height: 9px;
    background: #333;
    border-radius: 50%;
}
.Iservice-item-title h5{
    float: left;
    font-weight: 500;
    font-size: 24px;
    color: #333333;
}
.Iservice-item-title time{
    float: right;
    color: #999999;
    font-size: 18px;
}
.Iservice-item-content{
    margin-top: 12px;
    width: 80%;
    padding-left: 5%;
}
.Iservice-item-icon{
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.Iservice-item-content p{
    width: 350px;
    float: left;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    line-height: 40px;
}
.Iservice-item-more{
    display: inline-block;
    color: #333333;
    line-height: 40px;
}
.Iservice-list li:hover .Iservice-item-more,
.Iservice-list li:hover .Iservice-item-title h5 {
    color: #00b7ee;
}
.Iservice-list li:hover .Iservice-disc span{
    background: #00b7ee;
}
/*合作伙伴*/
.partner{
    margin-top: 80px;
}
.partner-title{
    margin: 0 auto;
    width: 210px;
    text-align: center;
}
.partner-title .en{
    font-size: 36px;
    color: #00b7ee;
    letter-spacing: 4px;
}
.partner-title .ch{
    font-size: 24px;
    color: #999999;
    background: url("../img/partner-title.png")no-repeat center;
}
.partner-list{
    margin: 80px auto 75px;
    width: 76.66%;
}
.partner-list li{
    float: left;
    width: 23%;
    margin: 0 1% 15px;
    height: 56px;
    background: #FFFFFF;
}
.partner-list li img{
    display: block;
    width: 80%;
    margin: 5px auto;
}
.partner-list li:hover{
    box-shadow: -3px -5px 5px #ececec,3px 5px 5px #ececec;
}
